PyYAML>=6.0.1
ruamel.yaml>=0.17.21
randomname==0.2.1
requests==2.32.4
python-dotenv==1.1.0
launchdarkly-server-sdk-ai>=1.0.1
launchdarkly-server-sdk>=9.15.0
launchdarkly-observability>=1.2.3
openai>=1.0.0
typing_extensions
